#titulo{
    text-align: center;
    color: white;
    background-color: rgb(61, 42, 97);
    padding: 1%;
    text-shadow:black 0.1em 0.1em 0.0em;
    margin-bottom: 2%;
}

h1{
    font-size:200%
}

h2{
    text-align: center;
    color:white;
    background-color: rgba(56, 55, 128, 0.795);
    padding: 1%;
    text-shadow:black 0.1em 0.1em 0.0em;
    margin-bottom: 4%;
}

h3{
    color: rgb(20, 121, 0);
    text-shadow:black 0.05em 0.05em 0.0em;
}

body{
    display: inline-block;
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}

.videos{
    display:inline-block;
    padding: 3%;
}

.tabela-videos{
    padding: 1%;
    text-align: center;
    margin-right: 1%;
}

footer{
    text-align: center;
    color: white;
    background-color: rgb(61, 42, 97);
    padding: 1%;
    margin-top: 5%;
}

footer p{
    text-shadow:black 0.1em 0.1em 0.0em;
}

#item1{
    display:inline-block;
    text-shadow:black 0.1em 0.1em 0.0em;
}

#item2{
    display:inline-block;
}

#item2 a{
    color: yellow;
}